<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- bean definitions here -->
<!--    <bean id="msg" class="com.bean.utils.Messages"/>-->
    <bean id="phone" class="com.bean.service.Phone"/>
    <bean class="com.bean.utils.Messages" name="msg" scope="prototype"/>


</beans>